* {
    transition: 0.2s ease-in-out;
}

body {
    background-color: #121211;
    font-family: 'Pixelify Sans';
    padding: 20px;
}

h1{
    color: #F0EBE3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.img-fluid{
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    border: 1px dashed #F0EBE3;
}

.img-fluid:hover{
    transform: scale(1.05);
    z-index: 10;
    border: 1px solid #F0EBE3;
    transition: 0.5s ease-in-out;
}

.text-img{
    color: #F0EBE3;
    text-align: center;
}
